/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main{
    display: flex;
    justify-content: center;
    padding: 2em;
    padding-top: 10em;
}

div{
        border: 3px solid black;
    padding: 2em;
    width: 600px;
}

p{
    font-size: 1.5em;
    line-height: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
            color: #333333;
            position: relative;
}

span{
        display: flex;
    flex-direction: column;
    position: absolute;
    left: 308px;
    bottom: 0px;
}

i{
    padding-top:4em;
    color: #6A889C;
}
